<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="E:/deshmukhTestNGGuru99">
        <classes>
            <class name="com.guru.qa.testcases.GuruLoginTestCases">

            </class>
        </classes>
    </test>
</suite>